{% extends "template.html" %}
{% block content %}
<style>
h3{
  text-align: center;
}
p{
  text-align: center;
  font-size: 15px;
}
.container {
  position: relative;
  width: 40%;
}

<!--.about_me {-->
<!--  border:1px solid black;-->
<!--  background-color: white;-->
<!--  width: 40%;-->
<!--  /* Center vertically and horizontally */-->
<!--  position: absolute;-->
<!--  top: 50%;-->
<!--  left: 50%;-->
<!--  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */-->
<!--}-->
</style>

  <head>
    <meta charset="utf-8">
    <title>About me</title>
  </head>

  <body>
  <div class="container">
  <div class="about_me">
    <h3>About me</h3>
      <p>Working as a Python Automation Developer in TCS and passionate about cutting-edge
        technology and solving real world problems, with previous experience in Quality Assurance -
        automation and manual testing. I am actively seeking to leverage my machine learning expertise
        in different areas.Skilled in Web Development, Agile Methodologies, Test Automation using python , SQL and Software Testing.</p>
  <div>
    <p>Please find the Contact Details given in the footer:</p>
    <p>Click on <strong>LinkedIn</strong> below to get my LinkedIn profile</p>
  </div>
    </div>
    </div>
  </body>
{% endblock content %}