{% extends "template.html" %}
{% block content %}


  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <title>About me</title>
  </head>

  <body>
    <center>
  <div class="container">
  <div class="about_me">
    <br><br><br>
    <h4>About me</h4>
      <p>Working as a Python Automation Developer in TCS and passionate about cutting-edge</p>
      <p>technology and solving real world problems, with previous experience in Quality Assurance -automation and manual testing.</p>
      <p>I am actively seeking to leverage my machine learning expertise in different areas.</p>
      <p>Skilled in Web Development, Agile Methodologies, Test Automation using python,SQL and Software Testing.</p>
  <div>
    <p>Please find the Contact Details given in the footer:</p>
    <p>Click on <strong>LinkedIn</strong> below to get my LinkedIn profile</p>
  </div>
  <br><br>
    </div>
    </div>
  </center>
  </body>
{% endblock content %}