<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  form {
  text-align: center;
}
    h1 {
  text-align: center;
}
.form-control {
    width: 300px;
  text-align: left;
}
input {
  width: 70%; margin: auto; text-align: center;
}
</style>
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
  <h1>Online Job Portal</h1>
<form action="/" method="POST" id="form">
<div class="input_area">
  <div class="form-group">
    <label>Name</label>
    <input type="text" size="50" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
  </div>

  <div class="form-group">
    <label>Projects</label>
    <input class="form-control" id="projects" list ="project_list" name="projects" placeholder="Add projects">
  </div>

   <div class="form-group">
    <label>Salary</label>
    <input type="number" class="form-control" id="salary" name="salary" placeholder="Enter your salary">
  </div>

  <div class="form-group">
    <label>Skills</label>
    <input class="form-control" id="skills" list="skill_list" name="skills" placeholder="Add skills">
  </div>

<button type="submit"  name="submit_button" value="Submit" class="btn btn-primary" style="background-color: forestgreen">Submit</button>
  <button type="submit"  name="edit_button" value="Submit" class="btn btn-primary" style="background-color: deepskyblue">Edit</button>
  <button type="submit"  name="delete_button" value="Submit" class="btn btn-primary" style="background-color: red">Delete</button>
  </div>
</form>
<datalist id="skill_list"> <option>Python</option> <option>R</option> <option>SQL</option> </datalist>
<datalist id="project_list"> <option>Development</option> <option>testing</option> <option>graphics</option> </datalist>
  </body>
</html>