{% extends "template.html" %}
{% block content %}

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <title>Online Resume Builder</title>
  </head>

  <body>
  <center>
    <h3>BUILD YOUR RESUME ONLINE</h3>
    <h3>AND LAND YOUR DREAM JOB!!!</h3>
    <h3>Click on below botton to create your resume</h3>
    <button type="submit" onclick="window.location.href='{{ url_for( 'submit') }}';">Create Resume</button>
  </center>
  <br><br><br>
  <br><br><br>
    </div>
    </div>
  </body>
{% endblock content %}