{% extends "template.html" %}

{% block content %}
<style>
.form-groups {
  text-align: center;
  color: Black;
}
    .form-group-input{
      text-align: center;
    }
    .errors {
     color: red;
      }

 input[type=text], select {
  width: 30%;
  height: 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  height: 40px;
  background-color: #45a049;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #32CD32;
}
span{
display: inline-block;
border: solid 1px black;
}
</style>
<body>
    <form action="{{ url_for('submit') }}" id="form" class="form-groups" method=post>
      <div>
          <div class="form-group-label">
               {{ form.csrf_token }}
        <label>{{ form.name.label }}</label>
        </div>
        <div class="form-group-input">
        {{ form.name }}
           {% if form.name.errors %}
        <div class="errors">
          {% for error in form.name.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
        </div>
      </div>

      <div>
          <div class="form-group-label">
        <label>{{ form.email.label }}</label>
          </div>
          <div class="form-group-input">
              {{ form.email }}
              {% if form.email.errors %}
        <div class="errors">
          {% for error in form.email.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
          </div>
      </div>

      <div>
          <div class="form-group-label" >
          <label>{{ form.work_experiences.label }}</label>
        </div>
        <div class="form-group-input" >
          {{ form.work_experiences}}
            {% if form.work_experiences.errors %}
        <div class="errors">
          {% for error in form.work_experiences.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
        </div>
      </div>

       <div>
           <div class="form-group-label">
          <label>{{ form.education.label }}</label>
               </div>
        <div class="form-group-input">
          {{ form.education }}
            {% if form.education.errors %}
        <div class="errors">
          {% for error in form.education.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
            </div>
      </div>

      <div class="form-group">
          <div class="form-group-label">
          <label>{{ form.skills.label }}</label>
              </div>
          <div class="form-group-input">
          {{ form.skills }}
          {% if form.skills.errors %}
        <div class="errors">
          {% for error in form.skills.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
          </div>
      </div>

        <div>
           <div class="form-group-label">
          <label>{{ form.certifications.label }}</label>
               </div>
        <div class="form-group-input">
          {{ form.certifications }}
            {% if form.certifications.errors %}
        <div class="errors">
          {% for error in form.certifications.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
            </div>
      </div>
  <br> <br>
        <div id="submit_form" class="form-group-input">
            <div>
          {{ form.submit }}
        </div>
        </div>
    </form>
</body>
{% endblock %} 