body {
   background-color: White ;
}
h1 {
  text-align: center;
  color: black;
}
#page-container {
  position: relative;
  min-height: 40vh;
}

  .footer {
   padding-bottom: 2%;
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #325EA8;
   color:white;
   text-align: center;
}
#toast_panel {
   background: #e2231a;
   color: white;
        }
h3{
  text-align: center;
  color: #FFA500;
}
p{
  text-align: center;
  font-size: medium;
  color: #8B008B;
  font-family: "Lucida Console", "Courier New", monospace;
}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: None;
      background-color: #325EA8;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: White;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }

    li a:hover:not(.active) {
      background-color: #ddd;
    }

    li a.active {
      color: white;
      background-color: #4CAF50;
    }
	h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: White;
  width: 90%;
  border: 10px solid green;
  padding: 20px;
  margin: 20px;
}
	h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: White;
  width: 60%;
  border: 5px ;
  padding: 10px;
  margin: 10px;
}
